<!DOCTYPE html>
<html>
<head>
  <title>The Question Box</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <div class="logo-main navbar-left">
        <%= link_to root_path do %>
         ?⃞ The Question Box
       </div>
       <% end %>
       <div class="navbar-link navbar-right">
        <%= link_to 'Add Your Question', new_question_path %>
       </div> 
   </div>
  </nav>
  </header>
     
 <div class="container">
  <%= yield %>
</div>

 <div class="footer">
    <div class="container">
   <br />
      <!-- Collect the nav links, forms, and other content for toggling -->
        <a target="_blank" href="https://github.com/mattheweves/questionbox"> 
          <%= image_tag 'github.png' %><br />// Matt Eves - GitHub //  
         </a>
    </div>
  </div>


</body>
</html>